.idea/
vendor/
*.gr.go
!protocol/stdtypes/*.gr.go
parsed-specs.gr.json
/options/
go-restli
*.swp
*.swo
spec-parser/out/
.gradle/
.DS_STORE
.gradle/
*.iml
*.ipr
*.iws
bin/
cmd/classpath_jar.go
internal/tests/parsed-specs.json
releases/
