.idea/
vendor/
internal/tests/generated
/options/
go-restli
*.swp
*.swo
spec-parser/out/
.gradle/
.DS_STORE
.gradle/
*.iml
*.ipr
*.iws
bin/
internal/codegen/cmd/classpath_jar.go
internal/tests/parsed-specs.json
releases/
